body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#6b73ff,#000dff);
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat {
  width: 95%;
  max-width: 450px;
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

h2 {
  margin-bottom: 15px;
  color: #317EFB;
}

input, select, button {
  padding: 12px;
  margin: 5px 0;
  width: